@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&display=swap');


body {
	display: flex;
	flex-wrap: wrap;
	font-family: "Tinos";
	justify-content: center;
	margin-bottom: 50px;
	margin-top: 4vh;
	padding: 0 50px;
}

h1 {
	font-size: 55px;
	margin-bottom: 0;
}


#body-text {
    padding-top: 100px;
    max-width: 900px;
    margin: 0 auto;
}


#storytitle {
	font-size: 55px;
	margin-bottom: 0;
	font-family: 'Crimson Text', serif;
	font-weight: 600;
}


#storytext {
	display: block;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 50px;
	margin-top: 4vh;
	padding: 0 50px;
	font-family: 'Crimson Text', serif;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

}

